#root {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    color: white;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

body {
    background-color: rgba(0, 0, 0, 0.945);
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

label {
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
}

input {
    display: block;
    width: 400px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: rgb(65, 65, 65);
    border: 1px solid #fff;
    border-radius: 4px;
    margin-bottom: 20px;
}

button {
    background: rgba(0, 0, 0, 0.709);
    padding: 0.2rem 0.8rem;
    border-radius: 8px;
}